<div {{bind-attr class=':task isCompleted:completed:not-completed'}}>

	{{#unless view.isEditing}}
		{{#if this.isNew}}
			<div class='t-controls'>
				<button class='button float-left' {{action 'edit' target='view'}}>New Task</button>
			</div>
		{{else}}
			
			<div class='t-controls'>
				<button class='float-left' {{action 'complete' target='view'}}>{{controller.completeButtonMessage}}</button>
				{{#link-to 'task' this class='t-link-task float-left'}}{{name}}{{/link-to}}
				<span class='t-description float-left'>{{description}}</span>
				<span class='t-parentname float-left'>{{parent.name}}</span>

				<button class='float-right' {{action 'edit' target='view'}}>Edit</button>
				<button class='float-right' {{action 'destroyTask'}}>Delete</button>
			</div>
		{{/if}}
	{{else}}
		{{partial 'tasks/form'}}
	{{/unless}}
</div>